* {
    box-sizing: border-box;
}

body {
    margin: 0px;
	background-color: #e9ebee;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.f-14 {
	font-size: 14px;
}

.f-13 {
	font-size: 13px;
}

.f-12 {
	font-size: 12px;
}

.f-11 {
	font-size: 12px;
}

.f-10 {
	font-size: 10px;
}

.f-grey {
	color: #616770;
}	

.f-bold {
	font-weight: bold;
}

.f-light {
	font-weight: lighter;
}

.f-blue {
	color: #365899;
}

.f-black {
	color: #3a3939;
}

.flex {
	display: flex;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.header {
	width: 100%;
    padding-right: 205px;
    background-color: #4267b2;
    color: #ffffff;
    height: 42px;
    position: fixed;
    z-index: 2;
}

.wh-12 {
	height: 12px;
	width: 12px;
}

.wh-14 {
	height: 14px;
	width: 14px;
}

.wh-16 {
	height: 16px;
	width: 16px;
}

.wh-18 {
	height: 18px;
	width: 18px;
}

.wh-20 {
	height: 20px;
	width: 20px;
}

.wh-25 {
	height: 25px;
	width: 25px;
}

.wh-32 {
	height: 32px;
	width: 32px;
}

.wh-34 {
	height: 34px;
	width: 34px;
}

.wh-40 {
	height: 40px;
	width: 40px;
}

.wh-45 {
	height: 45px;
	width: 45px;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.round {
	border-radius: 50%;
}

.rel {
	position: relative;
}

.fixed {
	position: fixed;
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.pointer {
	cursor: pointer;
}

.bg-image {
	background-repeat: no-repeat;
    background-size: auto;
}

.fb-image {
    background-image: url(../icons/fb.png);
	background-position: -4px -4px;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.m-horizontal-5 {
	margin: 0 5px;
}

.menu-content {
	width: 1012px;
	padding: 0;
}

.margin-small {
    margin: 7px 0;
    margin-right: 10px;
}

.margin-sm {
	margin: 7px 2px;
}

.search-bar {
	height: 25px;
    border-radius: 3px;
	width: 450px;
    border: 1px solid #636569;
}

.search-input {
	width: 100%;
	padding: 5px;
    box-shadow: none;
    text-shadow: none;
	border-radius: 3px 0 0 3px;
	border: none;
}

.search-image {
	border-radius: 0 3px 3px 0;
	background-image: url(../icons/right-top/search.png);
	background-color: #f6f7f9;
	width: 48px;
	background-position: 10px 0px;
}	

.search-content {
	flex: 1 1 auto;
    justify-content: flex-start;
}

.user-content {
	flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: 8px;
}

.user-containers {
	display: inline-block;
    padding: 0 9px;
    vertical-align: top;
	margin-right: 3px;
}

.small-image {
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.user-info {
	line-height: 25px;
}

.username {
	margin-left: 5px;
	margin-right: 5px;
}

.hover-dark-blue: hover {
	background-color: #3b5ca0;
}

.delimiter {
	margin-top: 5px;
    height: 18px;
	background-color: #3d5ea0;
    border: 1px solid #3d5ea0;
}

.top-bar-img {
	display: inline-flex;
}

.main-container {
	padding-right: 202px;
	padding-top: 42px;
}

.inner {
	width: 1012px;
	padding-top: 12px;
}

.inner-left-wrapper {
	width: 180px;
}

.inner-center {
	margin-left: 12px;
	width: 500px;
}

.inner-right {
	position: fixed;
}

.m-bottom-10 {
	margin-bottom: 10px;
}

.m-bottom-5 {
	margin-bottom: 5px;
}

.menu-item {
	border-radius: 2px;
    height: 28px;
    line-height: 28px;
    padding: 0 4px 0 28px;
    padding-right: 4px;
}

.menu-item:hover{
	cursor: pointer;
	background-color: #f6f7f9;
}

.menu-item.active {
	background-color: #f6f7f9;
	border: 1px solid #d8dce2;
	font-weight: bold;
}

.menu-item-img {
	position: absolute;
	left: 4px;
    top: 3px;
	width: 20px;
	height: 20px;
}

.menu-item-txt {
	line-height: 24px;
    width: 124px;
    overflow: hidden;
}

.w-auto {
	width: auto;
}

.menu-item-right {
	position: absolute;
	right: 4px;
    top: -2px;
	width: 20px;
	height: 20px;
}

img.menu-item-right {
    top: 3px;
}

.padding-12 {
	padding: 12px;
}

.box {
	border-radius: 3px;
	margin-bottom:  10px;
	background-color: #fff;
	overflow: hidden;
}

.status-box-bar {
	padding: 8px 0;
    padding-right: 24px;
	background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}

.above-status-text {
	background-position: 0 0;
	padding-left: 20px;
	margin: 0 5px;
}

.above-status-delimiter {
	height: 15px;
	width: 1px;
	background-color: #d5d4d4;
    margin: 0 5px;
}

.status-box-mid  {
	background-color: #fff;
	margin: 10px;
}

.status-image {
	margin-right: 10px;
}

.status-text {
	padding: 10px;
}

.plain-input {
	width: 100%;
	padding: 5px;
    box-shadow: none;
    text-shadow: none;
	border: none;
}

.below-status-text {
	background-color: #f6f7f9;
	background-position: 8px 5px;
	height: 32px;
    line-height: 32px;
	margin-right: 7px;
    padding: 0 15px 0 35px;
	border-radius: 18px;
	cursor: pointer;
}

.below-status-text:hover {
	background-color: #dcdddf;
}

.status-box-bottom {
	margin: 0 12px;
	border-top: 1px solid #f0f1f3;
    padding: 8px 0;
    padding-right: 24px;
    border-radius: 2px 2px 0 0;
}

.post {
	padding: 10px;
	border: 1px solid #dfe0e2;
}

.top-border {
	border-top: 1px solid #f0f1f3;
}

.center-bottom {
	position: absolute;
	bottom: -11px;
	left: 50%;
}

.post-content > img:hover {
	cursor: pointer;
}

.post-action-item {
	width: 33.3%;
	border-radius: 2px;
    height: 28px;
    line-height: 28px;
	cursor: pointer;
}

.post-action-item-img {
	width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-top: 1px;
}

.post-action-item:hover {
	background-color: #f6f7f9;
}

.post-action {
	padding: 5px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
}

.post-reactions {
	margin: 5px 0;
}

.left-overlay {
	margin-left: -2px;
}

.center-align {
	justify-content: space-between;
    align-items: center;
}

.post-reactions > div {
	margin-left: 2px;
}

.no-bottom-border {
	border-bottom: none;
}

.post-comments {
	background-color: #f2f3f5;
	padding-top: 8px;
	border-radius: 0 0 2px 2px;
    padding-bottom: 8px;
	margin: 0;
    padding-left: 12px;
    padding-right: 12px;
	border: 1px solid #dfe0e2;
	border-top: none;
}

.comment-box {
	background-color: #fff;
	border-radius: 18px;
	border: 1px solid #dfe0e2;
	padding: 5px;
}

.comment-actions {
	position: absolute;
	right: 10px;
	top: 6px;
}

.comment-actions > img:hover {
	cursor: pointer;
}

.actual-comment {
	padding: 8px 10px 8px 10px;
	border: none;
}

.comment-reactions {
	margin: 3px 10px 3px 10px;
}

.post-comment-box  {
	margin-bottom: 10px;
}

.underline:hover {
	text-decoration-line: underline;
}

.inner-right-wrapper {
	margin-left: 12px;
	width: 308px;
}

.inner-fixed-container {
	position: fixed;
	width: inherit;
    overflow: hidden;
}

.bordered-item {
	line-height: 20px;
    padding: 0 10px;
	background-color: #f6f7f9;
	border: 1px solid;
    border-color: #ced0d4;
    color: #4b4f56;
	cursor: pointer;
}

.bordered-item:hover {
	background-color: #eaecef;
}

.bordered-item > img {
	margin-top: 5px;
}

.bg-none {
	background: none;
}

.stories-item > img {
	padding: 1px;
	border: 2px solid #79a6ff;
}

.right-fixed {
	position: fixed;
    height: 100%;
    width: 205px;
    top: 42px;
    right: 0px;
    overflow-y: scroll; 
	padding: 5px 0;
    background-clip: padding-box;
    background-color: #e9ebee;
    border-left: 1px solid #cccccc;
    font-size: 12px;
    line-height: 16px;
}

.padding-8 {
	padding: 8px;
}

.horizontal-items-slider {
	position: relative;
	height: 60px;
}

.horizontal-items-slider > .slider-buttons {
	width: 8px;
	height: 12px;
	position: absolute;
	top: 20px;
}

.left-5 {
	left: 5px;
}

.right-5 {
	right: 5px;
}

.slider-imgs {
	margin: 0 13.5px;
	height: 100%;
	border-bottom: 1px solid #dfe0e2;
}

.slider-imgs > img {
	margin: 0 5px;
	width: 50px;
	height: 50px;
}

.contact-box {
	padding: 4px 0 4px 8px;
	align-items: center;
	cursor: pointer;
}

.contact-box:hover {
	background-color: #dddfe2;
}

.contact-box > .contact-name {
	padding-left: 8px;
	margin-right: 20px;
	position: relative;
}

.contact-online {
	position: absolute;
	right: 12px;
	font-size: 10px;
}

.online-circle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #42b72a;
}

.contact-lower-bar {
	position: fixed;
	bottom: 0;
	height: 31px;
	width: 205px;
	background-color: #f6f7f9;
	padding: 0 98px 0 28px;
}

.contact-lower-bar > input {
	background-color: transparent;
	height: 100%;
	padding: 0;
}

.left-img {
	position: absolute;
	left: 8px;
	top: 10px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 13px #f5f5f5;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 33px #bdbdbd;
}